@use "./veriables" as *;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $primary-bg;
  color: $text-color;
  font-family: "Inter", sans-serif;
}

button {
  background: transparent;
  border: none;
  color: $text-color;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    color: $accent-color;
  }
}


.app-container {
  display: flex;
  height: 100vh;
  background: white;
}


.content-container {
  height: 100%;
}
.content {
  background-color: $black;
  flex: 1;
  padding: 36px;
  height: 100%;
  overflow-y: auto;

}
