.about-root{
  background: #1f1f1f;
  .about-wrapper{
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  .text-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 70px 10%;
    .title-item {
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .title-text {
      transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
      font-size: 16px;
      font-weight: bold;
      color: #a5a5a5;

      .fade-out {
        opacity: 0;
        transform: translateY(-100%);
      }

      .fade-in {
        opacity: 1;
        transform: translateY(0);
      }
    }
    .mid-title-item{
      h3{
        font-size: 36px;
        margin: 24px 0;
      }
    }
    .text-block{
      p{
        margin-top: 16px;
        color: #a5a5a5;
      }
    }
    .button-block{
       display: flex;
      margin: 30px 0 0;
      .btn {
        display: inline-flex
      ;
        align-items: center;
        justify-content: center;
        padding: 8px 16px;
        font-size: 16px;
        font-weight: 500;
        text-decoration: none;
        color: #ffffff;
      }
      .btn-primary-outline {
        border: 2px solid #ff714a;
      }

      .btn-secondary-outline {
        border: 2px solid #d5d5d5;
        margin: 0 0 0 10px;
      }

      .btn-primary-outline:hover {
        background-color: #ff714a;
      }

      .btn-secondary-outline:hover {
        background-color: #d5d5d5;
        color: #222;
      }
    }
  }
}
.contact-root , .skills , .projects{
  .title-item{
    padding: 24px 0;
    margin: 24px 0;
    border-bottom: 1px solid #d5d5d5;

  }
}