.about-root{
  background: #1f1f1f;
  .about-wrapper{
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  .text-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 70px 10%;
  }
}